node_modules
dist
build
.DS_Store
*.log

# Secrets
backend/config/database.js
backend/service-account.json
backend/.env
backend/settings.json
frontend/.env.local
frontend/.env.production
frontend/.env.development
frontend/.env
